body {
    background-color: #222831;
    color: #eeeeee;
}
input {
  border: 2px solid #eeeeee ;
  border-radius: 4px;
} 
h1 {
    color: #eeeeee;
    text-align: center;
   
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h2 {
    color: #000000;
    vertical-align: top;
}
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  

  .sidenav a:hover {
    color: #f1f1f1;
  }
  
 
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  

  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  img{ 
    height: 100%;
    width: 100%;
    border: ridge;
    border-color: #ffd369;
  }
  #Award{position: absolute;
    height: 35%;
    width: 30%;
    left: 1320px;
    top: 120px; 
  }

  a{
    color:#ffd369;
  } 
span{
  color:#ffd369; font-size: 30px;
}

footer{
  position: absolute;
  width: 99%;
   text-align:center; 
   font-weight:bold;
   line-height:20px;
   background-color: #303036;
   border-top: ridge; 
   border-color:#eeeeee; 
   float: bottom;
}
.fix-footer {
  position: absolute;
  bottom: 0;
  background-color: #303036;
  height: 2.5rem;
}
